{% extends 'bookings/base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
    <h2>My Booking History</h2>
    <ul class="list-group">
        {% for booking in bookings %}
            <li class="list-group-item">
                <strong>Movie:</strong> {{ booking.movie.title }} <br>
                <strong>Seat:</strong> {{ booking.seat.seat_number }} <br>
                <strong>Date:</strong> {{ booking.booking_date }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
