{% extends 'bookings/base.html' %}

{% block title %}Book a Seat{% endblock %}

{% block content %}
    <h2>Available Seats</h2>
    <ul class="list-group">
        {% for seat in seats %}
            <li class="list-group-item">
                <span>Seat: {{ seat.seat_number }}</span>
                <form method="POST" action="/bookings/seats/">
                    {% csrf_token %}
                    <input type="hidden" name="seat_id" value="{{ seat.id }}">
                    <button type="submit" class="btn btn-success">Book This Seat</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
